@import "~font-awesome/css/font-awesome.css";
/**
    Main content at the center of the screen
 */
/*.main {*/
    /*position: absolute;*/
    /*text-align: center;*/
    /*top: 35%;*/
    /*left: 50%;*/
    /*width: 500px;*/
    /*height: 250px;*/
    /*margin-right: -50%;*/
    /*transform: translate(-50%, -50%)*/
/*}*/

#header {
    text-align: center;
}


#buttons {
    position: relative;
    margin: auto auto;
    width:15%;
    padding: 20px
}

/**
    Sticky footer
*/
#footer{
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
}

